@import url("http://fonts.googleapis.com/css?family=Righteous");
/* reset CSS */
* { padding: 0; margin: 0; }
a { text-decoration: none; color: #444; }
img { border: 0; vertical-align: top;}
li { list-style: none; }
/* reset CSS */

body { font-size: 14px; color: #444; }
